@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    
    margin: 0 auto;
    min-height: 100vh;
    background: linear-gradient(45deg, #3bf673,#22c1c3);
    background-attachment: fixed;
    
}

.container {
    position: relative;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}


.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .circle h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.container .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    color: #666;
    margin-bottom: 65px;
    font-weight: 900;
}

.container .card .content a {
    background-image: linear-gradient(to right, #368d1b 0%, #5be724  51%, #25f313  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
} 


.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .circle {
    background: rgb(63,94,251);
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .circle {
    background: rgb(131,58,180);
}

.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .circle {
    background: #fcb045;
}

.container .card:nth-child(4) .circle,
.container .card:nth-child(4) .circle {
    background: #14e6e7;
}

.container .card:nth-child(5) .circle,
.container .card:nth-child(5) .circle {
    background: rgb(164,140,97);
}

.container .card:nth-child(6) .circle,
.container .card:nth-child(6) .circle {
    background: rgb(238,174,202);
}

.container .card:nth-child(7) .circle,
.container .card:nth-child(7) .circle {
    background: #d11717;
}

.container .card:nth-child(8) .circle,
.container .card:nth-child(8) .circle {
    background: #00be13;
}

.container .card:nth-child(9) .circle,
.container .card:nth-child(9) .circle {
    background: #ee32be;
}

.container .card:nth-child(10) .circle,
.container .card:nth-child(10) .circle {
    background: #9184f1;
}



.container .card .content a:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
}

@media screen and (max-width: 600px) {
    .card {
      float: none;
      width: 100%;
    }
}